__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

data/
analysis_results/
AOIs/
**/temp/**
**/tmp/**

stimulus_code/stimuli/*.png
stimulus_code/image_hd.png

.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

.ipynb_checkpoints/
